body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

main{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none !important; /*nesto umjesto important*/
}

header{
  background-color: lightsteelblue;
  box-shadow: 0px 0px 10px 0px rgb(165, 163, 163);
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

input{
  width: 150px;
}

button{
  width:50px;
  border: none;
  background-color: transparent;
  color:white;
  cursor: pointer;
}

.ccc{
  width: 750px;
  margin: auto;
  border-radius: 10px;
  background-color: rgb(211, 224, 241);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.comment{
  display: flex!important;
  cursor: context-menu;
}

.notAvailable{    
  text-align: center;
  font-size: 150%;
  color: #8fa8c9;
}

@media only screen and (max-width: 1050) {
  body {
    background-color: lightblue;
  }
}